:root {
  --accent-color: #556b2f;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}
h1,h2 {font-family: "Silkscreen", sans-serif}
body,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,button {font-family: "Silkscreen", sans-serif}
.fa-handshake-o,.fa-balance-scale,.fa-address-card-o,.fa-cogs,.fa-cloud-download {font-size:200px}


.button {
  font-size: 18px; /* Ensure consistent font size */
  padding: 16px 32px; /* Ensure consistent padding */
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 8px; /* Optional: Rounded corners */
}

.button1 {
  background-color: #000; /* Black background */
  color: white; /* White text */
}

.button1:hover {
  opacity: 0.8; /* Slight transparency on hover */
}

/* Center the button and current points */
.w3-twothird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
