:root {
  --accent-color: #556b2f;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}
h1,h2 {font-family: "Silkscreen", sans-serif}
body,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,button {font-family: "Silkscreen", sans-serif}
.fa-handshake-o,.fa-balance-scale {font-size:200px}


.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 50px;}

/* Style the dropdown content */
.w3-dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: var(--base-color); /* Use base color for the background */
  color: var(--text-color); /* Use text color for the text */
  min-width: 129px;
  z-index: 10;
  left: 10%; /* Align dropdown with the parent */
  top: 100%; /* Position below the parent */
}

/* Show the dropdown on hover */
.w3-dropdown-hover:hover .w3-dropdown-content {
  display: block; /* Make the dropdown visible on hover */
}

/* Style the dropdown links */
.w3-dropdown-content .w3-bar-item {
  padding: 10px;
  text-align: left;
  background-color: var(--input-color); /* Light background for items */
  color: var(--text-color); /* Dark text for contrast */
  border-bottom: 1px solid var(--accent-color); /* Add a border for separation */
}

/* Hover effect for dropdown links */
.w3-dropdown-content .w3-bar-item:hover {
  background-color: var(--accent-color); /* Highlight with accent color on hover */
  color: var(--base-color); /* White text on hover */
}