h1,h2 {font-family: "Silkscreen", sans-serif}
body,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,button {font-family: "Silkscreen", sans-serif}
.fa-handshake-o,.fa-balance-scale {font-size:200px}


.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 50px;}

/* Style the dropdown content */
.w3-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--base-color);
  min-width: 160px;
  z-index: 10;
  left: 100px;
}

/* Show the dropdown on hover */
.w3-dropdown-hover:hover .w3-dropdown-content {
  display: inline-block;
}

/* Style the dropdown links */
.w3-dropdown-content .w3-bar-item {
  padding: 10px;
  text-align: left;
}